.wrapper {
  max-width: 1240px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  border: 1px solid var(--c-black);
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-family: var(--f-secondary);
  font-weight: var(--fw-med);
  font-size: var(--fs-sub);
  color: var(--c-black);
  letter-spacing: 6px;
  padding-bottom: 80px;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
  margin-bottom: 40px;
}

.dustbinBlock {
  width: 56px;
  height: 56px;
  padding: 15px;
  margin-left: 20px;
  border: 1px solid var(--c-explosive-grey);
  cursor: pointer;
}

@media (max-width: 1500px) {
  .form {
    flex-direction: column;
    align-content: center;
  }

  .dustbinBlock {
    margin-left: 0;
  }
}